body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

#curl_command {
  font-family: monospace;
  word-break: break-all;
}

.collapsible-body {
  padding: 1em;
}
